html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	font-family:helvetica, arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear { clear:both; }

h1 { padding-bottom:10px; font-size:20px }
h2 { padding:10px; font-size:16px; }

.nav ul { display:block; margin-top:10px; text-align:center; width:300px; }
.nav li { display:inline; font-size:14px; }

article { padding-left: 20px; }

#container {
	margin-top:20px;
	width: 300px;
	padding:15px;
	border: 1px solid #ccc;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
}

#container .header
{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.header img { -webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;}

.header label { font-size:12px; color: #555; padding-bottom:5px; display:block; }

#content
{
	width:300px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	overflow:hidden;
	margin-top:10px;
}

#slider
{
	width:1200px;
	height:120px;
	top:0px;
	left:0px;
	position:absolute;
}

#content .entry
{
	width:280px;
	padding:10px;
	height:100px;
	float:left;
	line-height:20px;
}

a, a:hover, a:visited { color: #6f7c98 }

.footer { font-size:12px; color: #ccc; display:block; text-align: center; width:300px; margin-top:20px;}

.contact
{
	text-align:center;
	padding-top:10px;
	width:300px;
}